@page
@model Task2_lab6.Pages.FormModel

@{
    ViewData["Title"] = "Form";
}


<!DOCTYPE html>
<html>
<head>
    <title>Register Form</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Register</legend>
            <div>
                <label for="CompanyName">First Name:</label>
                <input type="text" name="FirstName" value="" />
                @Html.ValidationMessage("firstname")
            </div>
            <div>
                <label for="ContactName">Last Name:</label>
                <input type="text" name="LastName" value="" />
                @Html.ValidationMessage("lastname")
            </div>
            <div>
                <label for="Employees">Password:</label>
                <input type="text" name="Password" value="" />
                @Html.ValidationMessage("password")
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
  

@{
     <text>
              You entered: <br />
              Company Name: @Model.firstname <br />
              Contact Name: @Model.lastname <br />
              Employee Count: @Model.password <br />
   </text>
}
  

</body>
</html>



